.blog_warraper{
  height: 100%;
  width: 100%;
  &_box{
    display: flex;
    justify-content: space-between;
    margin: 0 15%;
    padding: 5% 0;
    &_left{
      font-size: 40px;
    }
  }
  .blog_contents{
    border-bottom: #000 dashed;
    width: 80%;
    margin: 0 auto;
    p{
      font-size: 28px;
      color: #000000;
      padding-left: 30px;
      &:last-child{
        font-size: 16px;
        line-height: 28px;
      }
    }
    &_box{
      border: #000 solid 0.7px;
      margin: 100px 0;
      &_fix{
        font-size: 30px;
        width: 50%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
      }
      &_top{
        font-size: 30px;
        width: 50%;
        margin: 0 auto;
        &_figure{
          margin-top: 30px;
          position: relative;
          overflow: hidden;
          width: 100%;
          height: auto;
          .img{
            width: 100%;
          }
          .figcaption{
            position: absolute;
            top: -100%;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.6);
            -webkit-transition: .3s;
            transition: .3s;
            opacity: 1;
            text-align: center;
            line-height: 300px;
            p{
              font-size: 24px;
              color: #ffffff;
            }
          }
        }
        &_figure:hover figcaption{
          top: 0;
          left: 0;
        }
      }
      &_bottom{
        &_text{
          overflow: hidden;
          width: 100%;
          div{
            width: 45%;
            padding-right: 10%;
          }
          span{
            color: #000;
            width: 45%;
            position: relative;
            max-height: calc(16 * 1.8 * 3 * 1px);
            font-size: 16px;
            line-height: 1.8;
            word-break: break-all;
            overflow: hidden;
          }
          span::before, span::after{
            position: absolute;
            background: #fff;
          }
          span::before{
            content: '...';
            top: calc(16 * 1.8 * (3 - 1) * 1px);
            right: 0;
            width: 1em;
          }
          span::after{
            content: '';
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
.comment_area{
  text-align: center;
  margin-bottom: 20px;
  textarea{
    width: 30%;
    height: 30%;
  }
}
.comments{
  text-align: center;
  padding-bottom: 20px;
  border: #000 solid 0.7px;
  .top{
    margin-bottom: 20px;
    font-size: 30px;
  }
  &_deteil{
    display: flex;
    width: 40%;
    margin: 0 auto;
    justify-content: left;
    &_nickname{
      padding: 0 50px 20px 0;
      color: #113344;
      
    }
  }
}
.footer{
  margin-top: 50px;
  text-align: center;
  .arrow{
    font-size: 28px;
    color: #000000;
  }
}