= render 'shade/header'
%main.profile_warraper
  .profile_header
    Profile
  .profile_body
    .profile_body_top
      .profile_body_top_text
        %p
          経歴など紹介文
    .profile_body_boxs
      .box
        .box_left
          %figure.box_left_figure
            = image_tag 'images/cafe2', size: '200x200'
        .box_right
          .box_right_texts
            .box_right_texts_name
              git: mabuchi1
            .box_right_texts_learning
              学習内容:
              .box_right_texts_learning_info
                HTML / CSS / Ruby on Rails / mysql / kotlin / 
            .box_right_texts_region
              近畿
            .box_right_texts_contact
              初学者としてWebアプリケーション開発を学習中。kotlinに興味をもち独学で学習中。
            .box_right_texts_twitter
              ID: @HbFOFW7rtnIfyY6