= render 'shade/header'
%main.profile_warraper
  .profile_header
    Profile
  .profile_body
    .profile_body_top
      .profile_body_top_text
    .profile_body_boxs
      .box
        .box_left
        .box_right


